*{
    box-sizing: border-box;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    background-image: url(css\background.png);
    
}

footer {
    text-align: center;
    width: 100%;
    margin: -50px;
}

.fixed-bottom {
    background-color: teal;
    color: white;
    text-decoration: none;
}

#header{
border-bottom: 8px solid teal;
margin-bottom: 10px;
}

.main-container{
width: 80%;
margin: 0 auto;

}

#instructions{
padding: 10px;
margin-bottom: 10px;
}


#given-number-panel{    
background-color: rgba(29, 191, 202, 0.993);
height: 120px;
text-align: center;
padding: 20px;
margin-bottom: 10px;
color: white;
}


#guess-number-panel{
background-color:rgb(207, 7, 147);
height: 120px;
text-align: center;
padding: 20px;
margin-bottom: 10px;
color: white;
}

#counter{
margin-top: 10px;
background-color: rgb(176, 17, 207);
height:80px;
color: white;
}